In [3]:
import numpy as np
import pandas as pd

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [13]:
df=pd.read_csv('covid dataset.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [21]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [25]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [27]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [43]:
from sklearn.model_selection import train_test_split
xtr,ytr,xte,yte=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [45]:
xtr

    age  gender  fever   cough       city
80   14  Female   99.0    Mild     Mumbai
36   38  Female  101.0    Mild  Bangalore
66   51    Male  104.0    Mild    Kolkata
79   48  Female  103.0    Mild    Kolkata
46   19  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
7    20  Female    NaN  Strong     Mumbai
47   18  Female  104.0    Mild  Bangalore
39   50  Female  103.0    Mild    Kolkata
25   23    Male    NaN    Mild     Mumbai
5    84  Female    NaN    Mild  Bangalore

[80 rows x 5 columns]